@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    Welcome.<br /> This is the test app of <br /><h1 class="display-4">Second notifications</h1>
    <br />
    <h5>Latest nuget package is installed and ready to show you the results.</h5>
    <br />
    <p>In code You see, how simple this is.</p>
    <p>Search for   secondNotificationsLine</p>
    <br />
    <h5>Press on the menu to start</h5>
    <hr />
</div>
