@page
@model PrivacyModel
@{
    ViewData["Title"] = "SecondNotifications Example page";
}
<h1>@ViewData["Title"]</h1>


<p>You can also set alerts to show them on the next page.</p>
<p>Up to 10 alerts at the time</p>
<a class="btn btn-primary" asp-page="Privacy" asp-page-handler="ToHome"><i class="far fa-handshake"></i> Set message and show homepage</a>
